@page
@model CurrencyConverter.Pages.CurrencyConverterModel
@{
    ViewData["Title"] = "Currency Converter";
}

<div>
    <header class="text-center">
        <h1 class="display-4">
            Currency Converter
        </h1>
    </header>
    <br /><br />
    <form method="post" class="mx-auto" style="width:200px">
        <p class="col-sm-2">
            <label for="input">GBP (£)</label>
            <input type="number" asp-for="@Model.InputAmount"
                   step="0.01" placeholder="0.00" required>
        </p>
        <p class="col-sm-4">
            <label for="output">PHP ₱</label>
            <input type="number" asp-for="@Model.OutputAmount"
                   placeholder="₱0" value="@Math.Round(Model.OutputAmount)"
                   readonly>
        </p>
        <p class="col-sm-2">
            <button type="submit" class="btn btn-primary">Convert</button>
        </p>
        <p class="col-sm-12">
            @ViewData["Message"]
        </p>
    </form>
</div>